.ft-newsletter {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        height: 50%;
        bottom: 0;
        background-color: #F0F0F0;
        z-index: -1;
    }
}